- ## Summary
    - Test Name :
    - Test Objective :
    - Code Buid :
    - Date and Time :
    - Observations :
    - RAG Status :
    - PT Bug (if any) : 
 - ## Application-side Metrics
    - Transaction / API  Name :
      - Minimum Response Time :
      - Average Response :
      - Maximum Response Time :
      - 90 % Response Time :
      - Pass :
      - Fail :
     - Response Time Summary :
       ![Response Time - Summary](./Images/MongoDB_Perf_TestName_BuildNo_CPUandMemory_DateandTime.png)
 - ## Server-side Metrics
   - Database Server : <br>
     - CPU and Memory : Sample image given below.Add observations on CPU and Memory utilisation.
      ![Mongo DB CPU and Memory - Sample Image](./Images/MongoDB_Perf_TestName_BuildNo_CPUandMemory_DateandTime.png)
     - DB Connections and Queues : Sample image given below. Add observations on DB connections and Queues behaviour. 
      ![Mongo DB Connections and Queues - Sample Image](./Images/MongoDB_Perf_TestName_BuildNo_QueuesandConnections_DateandTime.png)
   - Application Server  :
       - NewRelic Dashboard - [NewRelic Dashboard Link](https://one.nr/0znQxNe4dRV)<br>
        Account service Dashboard given for reference.Add observations on CPU,Memory and JVM utilisation of Pods.</br>

